<footer>
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">
                <section>
                    <ul class="dates">
                        <% for(let i = 0; i < newsStories.length; i++) { %>
                            <li>
                                <span class="date"><%= newsStories[i].month %> <strong><%= newsStories[i].day %></strong></span>
                                <h3><a href="#"><%= newsStories[i].title %></a></h3>
                                <p><%= newsStories[i].shortCaption %></p>
                            </li>
                        <% } %>
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section>
                    <header>
                        <h2><%= featuredStory.title %></h2>
                    </header>
                    <a href="<%= featuredStory.imageUrl %>" class="image featured"><img src="<%= featuredStory.imageUrl %>" alt="" /></a>
                    <p><%= featuredStory.shortCaption %></p>
                    <footer>
                        <ul class="actions">
                            <li><a href="#" class="button">Find out more</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            
            <div class="col-12">

                <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

            </div>
        </div>
    </div>
</section>