<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Accessible Trip Planner</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/alerts.css">
		<style>
			#map {
				height: 500px;
			}
		</style>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index.html">Accessible Trip Planner</a></h1>

					<!-- Nav -->
					<%- include partials/navbar.ejs %>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<section class="box post">

								<% if(alerts.length > 0) { %>
									<% for(let i = 0; i < alerts.length; i++) { %>
										<section class="alert warning">
											<span><%- alerts[i] %></span>
										</section>
									<% } %>
								<% } %>

								<h2>
									<span>Directions from</span>
									<span>
										<% if(displayStationForSource === -1) { %>
											<span id="sourceStation"><%= sourceStation.attributes.name %> Station</span>
										<% } else { %>
											<span id="sourceStation">Boston <%= sourceStation.attributes.name %></span>
										<% } %> 
									</span> 
									<span>to</span>
									<span>
										<% if(displayStationForDestination === -1) { %>
											<span id="destStation"><%= destStation.attributes.name %> Station: </span>
										<% } else { %>
											<span id="destStation">Boston <%= destStation.attributes.name %>: </span>
										<% } %>
									</span>
								</h2>
								<h3><%= sourceStation.attributes.name %> Latitude: <span id="srcLat"><%= sourceStation.attributes.latitude %></span> & Longitude: <span id="srcLng"><%= sourceStation.attributes.longitude %></span></h3>
								<h3><%= destStation.attributes.name %> Latitude: <span id="destLat"><%= destStation.attributes.latitude %></span> & Longitude: <span id="destLng"><%= destStation.attributes.longitude %></span></h3>
								<ol>
									<% for(let i = 0; i < directionData.steps.length; i++) { %>
										<li>
											<% if(directionData.steps[i].html_instructions) { %>
												<span><%- directionData.steps[i].html_instructions %></span>
												<% if(directionData.steps[i].transit_details) { %>
													<ul>
														<li>Step Starts At: <span><%= directionData.steps[i].transit_details.departure_stop.name %></span></li>
														<li>Step Ends At: <span><%= directionData.steps[i].transit_details.arrival_stop.name %></span></li>
													</ul>
												<% } %>
												<% if(directionData.steps[i].steps) { %>
													<ol>
														<% for(let j = 0; j < directionData.steps[i].steps.length; j++) { %>
															<li>
																<% if(directionData.steps[i].steps[j].html_instructions !== undefined) { %>
																	<span><%- directionData.steps[i].steps[j].html_instructions %></span>
																<% } %>
															</li>
														<% } %>
													</ol>
												<% } %>
											<% } %>
										</li>
									<% } %>
								</ol>

								<section id="map"></section>

							</section>

					</div>
				</section>

			<!-- Footer -->
			<%- include partials/footer.ejs %>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="js/tripMapView.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyDkLI9p1y8kWO99XHYIAWke9lAOZtYFES4&callback=initMap" async defer></script>

	</body>
</html>