<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%- include partials/globalHead.ejs %>
		<link rel="stylesheet" href="css/alerts.css" />
		<style>
			#map {
				height: 500px;
			}
		</style>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<%- include partials/header.ejs %>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<section class="box post">

								<% if(alerts.length > 0) { %>
									<% for(let i = 0; i < alerts.length; i++) { %>
										<section class="alert warning">
											<span><%- alerts[i] %></span>
										</section>
									<% } %>
								<% } %>

								<h2>Station: <span id="station"><%= stationData.name %></span></h2>
								<h3>This station is located at Latitude: <span id="stationLat"><%= stationData.latitude %></span> Longitude: <span id="stationLng"><%= stationData.longitude %></span></h3>
								<h3>The Station Address is <%= stationData.address %></h3>
								
								<section id = "map">
								</section>

							</section>

					</div>
				</section>

			<!-- Footer -->
				<%- include partials/footer.ejs %>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="js/mapview.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkLI9p1y8kWO99XHYIAWke9lAOZtYFES4&callback=initMap" async defer></script>

	</body>
</html>