<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index.html">Dopetrope</a></h1>

					<!-- Nav -->
					<%- include partials/navbar.ejs %>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<header>
									<h2><%= user.username %>'s Profile</h2>
								</header>
								<section>
									<h3>Favorite Stations: </h3>
									<ul>
										<% for(let i = 0; i < user.favoriteStations.length; i++) { %>
											<li class="stationListing">
												<span>Station: </span>
												<span class="stationName"><a href="/map?station=<%=user.favoriteStations[i].stationName%>"><%= user.favoriteStations[i].stationName %></a></span>
												<span class="trashButton">🗑️</span>
											</li>
										<% } %>
									</ul>
									<form action="/addFavoriteStation" method="post">
										<label for="newFavoriteStationInput">Add Favorite Station: </label>
										<input id="newFavoriteStationInput" type="text" name="stationName">
										<button type="submit">Add Station</button>
									</form>
								</section>
							</article>

					</div>
				</section>

			<!-- Footer -->
				<%- include partials/footer.ejs %>

		</div>

		<!-- Scripts -->
			<script src="js/script.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>